<html>
	<head>
		<title>Monica's blog</title>
	</head>
	<body>
		<div>
			<h1>Monica's awesome blog</h1>
		</div>
		<div>
			<h2>(No, really.It's <em>awesome</em>.)</h2>
		</div>
		<div>
			<p>This is my text. Below is a list.</p>
			<ul><li>rainbows</li><li>unicorns</li><li>glitter</li></ul>
		</div>
		{% for post in posts %}
			<div>
				<p>published: {{ post.published_date }}</p>
				<h1><a href="">{{ post.title }}</a></h1>
				<p>{{ post.text|linebreaks }}</p>
			</div>
		{% endfor %}
	</body>
</html>